#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}



.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 30rem;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
  border: 4.14px rgba(56, 143, 243, 1) solid;
  border-radius: 4.14px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mySwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100px;
  object-fit: cover;
}
.swiper-button-next:after {
    font-family: swiper-icons;
    font-size: 20px;
    font-weight: 700;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}
.swiper-button-prev:after{
     font-size: 20px;
    font-weight: 700;
}
.swiper-button-next:hover{
 background: rgba(56, 143, 243, 1);
  color: #fff;
}
.swiper-button-prev:hover{
 background: rgba(56, 143, 243, 1);
  color: #fff;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, 10px);
    left: auto;
    padding: 20px 21px;
    background-color: #eee;
    color: rgba(99, 103, 108, 1);
    border-radius: 50%;

}
.swiper-button-prev {

    padding: 20px 21px;
    background-color: #eee;
    color: rgba(99, 103, 108, 1);
    border-radius: 50%;

}