@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?sf03f3');
  src:  url('fonts/icomoon.eot?sf03f3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?sf03f3') format('truetype'),
    url('fonts/icomoon.woff?sf03f3') format('woff'),
    url('fonts/icomoon.svg?sf03f3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-block:before {
  content: "\e907";
}
.icon-grid:before {
  content: "\e908";
}
.icon-location:before {
  content: "\e905";
}
.icon-red-heart:before {
  content: "\e902";
  color: #f00;
}
.icon-heart:before {
  content: "\e904";
  color: #888282;
}
.icon-download:before {
  content: "\e906";
}
.icon-logenter:before {
  content: "\e903";
}
.icon-phone:before {
  content: "\e901";
}
.icon-to-bottom:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e986";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-checkmark:before {
  content: "\ea10";
}
