@import "./base.css";
@import "./index.css";
@import "./icomoon/style.css";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.container {
  padding: 0 3rem;
  position: relative;
}
body {
  background-color: #f0f3f7;
  font-family: "Inter", sans-serif;
}
.aboutUs p {
  color: #16191d;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: left !important;
  display: inline;
  word-spacing: 5px;
}
.aboutUs p strong {
  color: #16191d;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: left !important;
  display: inline;
}
.aboutUs p strong em {
  color: #16191d;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: left !important;
  display: inline;
}
.aboutUs p strong em u {
  color: #16191d;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: left !important;
  display: inline;
  text-decoration: none !important;
}
.aboutUs p strong em u s {
  padding: 0 2px;
  text-decoration: none !important;
}
.aboutUs ul li u {
  color: #16191d;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none !important;
  text-align: left !important;
}
.aboutUs ol li u {
  color: #16191d;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none !important;
  text-align: left !important;
}
.aboutUs ol li u s {
  text-decoration: none !important;
}
.aboutUs ul li u s {
  text-decoration: none !important;
}
.aboutUs ul li h1 {
  font-size: 24px;
  color: #16191d;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
@media screen and (max-width: 640px) {
  .container {
    padding: 0 2rem;
    position: relative;
  }
}
@media screen and (max-width: 400px) {
  .container {
    padding: 0 1rem;
    position: relative;
  }
}
::-webkit-scrollbar {
  width: 0;
  height: 15px;
}

::-webkit-scrollbar-track-piece {
  background-color: white;
}

::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: #ffff;
}
