@import "./base.css";
@import "./index.css";
@import "./icomoon/style.css";

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.container {
  padding: 0 3rem;
}
body{
  background-color: #F0F3F7;
}
